<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.trampcr.developerrepository">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".startactivity.StartActivityDemo"/>

        <activity android:name=".customview.touch.dispatchdemo.ViewGroupDispatchActivity"/>

        <activity android:name=".customview.touch.RelayMultiTouchActivity"/>

        <activity android:name=".customview.touch.CooperateMultiTouchActivity"/>

        <activity android:name=".customview.touch.SelfMultiTouchActivity"/>

        <activity android:name=".customview.viewpager.TwoPagerActivity"/>

        <activity android:name=".customview.drag.DragListenerActivity"/>

        <activity android:name=".customview.drag.DragHelperActivity"/>

        <activity android:name=".customview.drag.DragToCollectActivity"/>

        <activity android:name=".customview.drag.DragUpDownActivity"/>

        <activity android:name=".thread.asynctask.AsyncTaskActivity"/>

        <activity android:name=".thread.handlerthread.HandlerThreadActivity"/>

        <activity android:name=".thread.intentservice.IntentServiceActivity"/>

        <activity android:name=".thread.threadlocal.ThreadLocalActivity"/>

        <activity android:name=".listview.ArrayAdapterActivity"/>

        <activity android:name=".listview.SimpleAdapterActivity"/>

        <activity android:name=".listview.BaseAdapterActivity"/>

        <activity android:name=".retrofitdemo.GetRequestIcibaActivity"/>

        <activity android:name=".retrofitdemo.PostRequestYouDaoActivity"/>

        <activity android:name=".imagerepo.PicassoActivity"/>

        <activity android:name=".imagerepo.GlideActivity"/>

        <activity android:name=".reflect.ReflectActivity"/>

        <activity android:name=".proxy.DynamicProxyActivity"/>

        <activity android:name=".rxjava.RxJavaActivity"/>

        <activity android:name=".ipc.messenger.MessengerActivity"/>

        <activity android:name=".ipc.aidl.BookManagerActivity"/>

        <activity android:name=".ipc.contentprovider.ContentProviderActivity"/>

        <activity android:name=".architecture.mvc.controller.MvcActivity"/>

        <activity android:name=".architecture.mvp.view.MvpActivity"/>

        <activity android:name=".architecture.mvvm.view.MvvmActivity"/>

        <service android:name=".thread.intentservice.MyIntentService">
            <intent-filter>
                <action android:name="com.trampcr.is.demo"/>
            </intent-filter>
        </service>

        <service android:name=".ipc.messenger.MessengerService"
            android:process=":remote"/>

        <service android:name=".ipc.aidl.BookManagerService"
            android:process=":remote"/>

        <provider
            android:authorities="com.trampcr.developerrepository.book.provider"
            android:name=".ipc.contentprovider.BookProvider"
            android:process=":provider"/>
    </application>

</manifest>